* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0b0b0d;
    color: white;
    font-family: Arial, sans-serif;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 8%;
    border-bottom: 1px solid #25252b;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    color: #a1a1aa;
    text-decoration: none;
    transition: 0.2s;
}

.nav-links a:hover {
    color: white;
}

.login-btn {
    background: transparent;
    border: 1px solid #3a3a42;
    color: white;

    padding: 10px 20px;
    border-radius: 8px;

    cursor: pointer;
}

/* HERO */

.hero {
    text-align: center;

    padding-top: 150px;
}

.small-title {
    color: #888;
    font-size: 13px;
    letter-spacing: 3px;

    margin-bottom: 25px;
}

.hero h1 {
    font-size: 70px;
    line-height: 1.1;

    margin-bottom: 25px;
}

.description {
    color: #9a9aa3;

    font-size: 18px;

    margin-bottom: 35px;
}

.shop-btn {
    background: white;
    color: black;

    border: none;

    padding: 16px 28px;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;
}

.shop-btn:hover {
    transform: scale(1.05);
}
/* SHOP */

.shop {
    padding: 120px 8%;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title p {
    color: #777;
    letter-spacing: 3px;
    font-size: 12px;
}

.section-title h2 {
    font-size: 40px;
    margin-top: 10px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.product {
    background: #151519;
    border: 1px solid #29292f;
    border-radius: 14px;
    padding: 30px;

    transition: 0.2s;
}

.product:hover {
    transform: translateY(-5px);
    border-color: #555;
}

.item-icon {
    font-size: 60px;
    margin-bottom: 25px;
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product p {
    color: #85858d;
    margin-bottom: 20px;
}

.product span {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
}

.product button {
    width: 100%;
    padding: 12px;

    background: white;
    color: black;

    border: none;
    border-radius: 7px;

    cursor: pointer;
}

.product button:hover {
    transform: scale(1.02);
}
